.header {
    &:hover {
        background-color: black;
    }
    h1 {
        color: red;
    }
    h2 {
        font-size: 14px;
    }
    h3 {
        font-size: 12px;
    }
}

https: //ev.phncdn.com/videos/201907/17/235847031/720P_1500K_235847031.mp4?validfrom=1565262656&validto=1565269856&rate=256k&burst=1400k&hash=Md1bDQdbzCAfHzPboZ2%2B2smCz%2FM%3D